:root {
  --tart-orange: #ff4747;
  --amazonite: #00bcb4;
  --booger-buster: #c4e86b;
  --pastel-orange: #ffb547;
  --pear: #e1ee32;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container-1 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
}
.smallbg {
  background-image: url("../../public/smallbh.png");
  width: 255px;
    background-repeat: no-repeat;
    height: 100vh;
    box-shadow: 7px 3px 11px 0px rgba(181,177,181,1);
}
.container {
width: 70vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: linear-gradient(183.28deg, rgba(200, 216, 127, 0.3196) 14.54%, rgba(216, 127, 129, 0.68) 74.87%);
}
.todolistp {
  font-size: 1.4rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.btn-x {
 width: 64px;
  height: 64px;
  font-weight: 500;
font-size: 2rem;
color: #fefff7;
background-color: #e1ee32;
padding: 10px 30px;
border: none;
box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
text-transform: uppercase;
z-index: 1;
margin-bottom: 25%;
left: 80%;
}

.btn-x:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #0066cc;
border: solid 2px #0066cc;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
